In [62]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import tensorflow as tf
from tensorflow import keras
import tensorflow.keras.preprocessing.text as tfkpt
from tensorflow.keras.preprocessing.text import Tokenizer

In [63]:
clothing_reviews_df = pd.read_csv('womens-ecommerce-clothing-reviews/Womens Clothing E-Commerce Reviews.csv')

In [64]:
ranked_reviews = clothing_reviews_df[["Review Text", "Rating"]].sort_values(by="Rating", ascending=False)
ranked_reviews

                                             Review Text  Rating
11743  I absolutely love this vest. it fits extremely...       5
13393  Byron lars knows how to make you look like a w...       5
13397                                                NaN       5
13398  My mom pointed out this dress in the store a w...       5
13399                                      Fits perfect!       5
...                                                  ...     ...
19304  I have been continually disappointed in retail...       1
19288  Didn't like the dress. look pregnant in it. th...       1
19283  This top is crazy in the front and just way-of...       1
19275  This looked like a simple, chic blouse, but th...       1
10147  I've been shopping at retailer since 2007, and...       1

[23486 rows x 2 columns]

In [65]:
def create_sentiment(int):
    if int == 4 or int == 5:
        return 2
    if int == 3:
        return 1
    if int == 2 or int == 1:
        return 0

In [66]:
ranked_reviews['Sentiment'] = ranked_reviews['Rating'].apply(create_sentiment)

In [67]:
ranked_reviews.sample(40)

                                             Review Text  Rating  Sentiment
13410  This dress is quite lovely in person, but it r...       4          2
1991   The picture doesn't do it justice. i am wearin...       5          2
14216  Not just another striped tee. perfect drape & ...       5          2
17970  I expected this to be a pretty basic peasant t...       5          2
22254  I adore this top. lovely color, fit is very fl...       5          2
13050  I was so excited to see that these were on sal...       5          2
15833  This kimono is gorgeous and i've gotten many c...       5          2
19009  This jacket is totally adorable. i wore it wit...       5          2
6751   If it's a knock off, its of the "poise" dress,...       5          2
9713   I love love love these white jeans. the crop s...       5          2
11492  This is definitely a cute top! i am 5'1" 34a, ...       4          2
13711  Super comfortable; great with jeans or legging...       5          2
15246  This is tee is so soft and the other one in th...       5          2
3810   This top is perfect. i absolutely love this sw...       5          2
247    Really nice, substantial, fully lined sweater ...       4          2
3310   I like the design of the dress, but the fabric...       2          0
9560   This tunic is very cute and incredibly comfort...       4          2
3117   I've only worn the sweater a handful of times,...       5          2
17049  I bought this on a whim, and i love it. the co...       5          2
2680   These are some of the softest most comfortable...       5          2
8548   I love this sweater! aside from it being absol...       5          2
22478  I love everything about this skirt! the fabric...       5          2
8289   I ordered this top in the pink in a medium (i ...       4          2
5395   What a great little find. it is so soft, and t...       5          2
13619  This is a gorgeous dress. the fabric has the l...       5          2
18323  I decided to take advantage of the free shippi...       3          1
3968   I agree with those who thought this material l...       3          1
14705  Fits great and goes great under cardigans and ...       5          2
8421   I skipped over these when they first cme in st...       5          2
16777                                                NaN       5          2
19775  I absolutely loved the patterns and colors of ...       2          0
18195  I had been waiting for this dress to go on sal...       5          2
9443   This is a gorgeous, well-fitting top! i was he...       5          2
4694   I absolutely love this top! i often shop the s...       5          2
10401  This is a good skirt, although i think the fab...       4          2
3712   A beautiful, comfortable dress with it's own u...       5          2
22284  I'm 5'2-5'3 which is supposed to be the max he...       1          0
2446   Got this dress for a party.  it was a last min...       5          2
12398  I am 5'3", 118 lbs and fit perfect in size s p...       4          2
8009                                                 NaN       5          2

In [68]:
ranked_reviews.columns = ['Review Text', 'Rating', 'Sentiment']
review_training = ranked_reviews[['Rating', 'Review Text']].dropna()
review_training.sample(10)

       Rating                                        Review Text
22144       3  I had high hopes for this top, as it looked gr...
13133       5  I bought this on sale in all 3 colors. it does...
5196        5  I love this top! i originally bought the brown...
3181        3  I like the design and the color of the cardiga...
15476       3  I expected this dress to be a much better fit ...
8017        5  I love this dress! i was actually able to fit ...
22813       5  I love the raw edges on this t-shirt and the m...
2266        5  Love this sweater. bought this with the matchi...
14178       2  This dress is beautiful and extremely well mad...
13034       5  Great style and the color, can be dressed up o...

In [69]:
review_y = review_training['Rating']
review_y

11743    5
13393    5
13398    5
13399    5
13405    5
        ..
19304    1
19288    1
19283    1
19275    1
10147    1
Name: Rating, Length: 22641, dtype: int64

In [70]:
review_x = review_training['Review Text']
review_x

11743    I absolutely love this vest. it fits extremely...
13393    Byron lars knows how to make you look like a w...
13398    My mom pointed out this dress in the store a w...
13399                                        Fits perfect!
13405    I ordered the navy/green combo in xl and it's ...
                               ...
19304    I have been continually disappointed in retail...
19288    Didn't like the dress. look pregnant in it. th...
19283    This top is crazy in the front and just way-of...
19275    This looked like a simple, chic blouse, but th...
10147    I've been shopping at retailer since 2007, and...
Name: Review Text, Length: 22641, dtype: object

In [71]:
review_training.describe()

             Rating
count  22641.000000
mean       4.183561
std        1.115762
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000

In [72]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(review_x)

In [73]:
review_x = tokenizer.texts_to_sequences(review_x)

In [74]:
review_x = tokenizer.sequences_to_matrix(review_x)
review_x

array([[0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       ...,
       [0., 1., 1., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 1.]])