In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import tensorflow as tf
from tensorflow import keras
import tensorflow.keras.preprocessing.text as tfkpt
from tensorflow.keras.preprocessing.text import Tokenizer
from keras.models import Sequential
from keras.layers import Dense

In [7]:
clothing_reviews_df = pd.read_csv('womens-ecommerce-clothing-reviews/Womens Clothing E-Commerce Reviews.csv')

In [8]:
ranked_reviews = clothing_reviews_df[["Review Text", "Rating"]].sort_values(by="Rating", ascending=False)
ranked_reviews

                                             Review Text  Rating
11743  I absolutely love this vest. it fits extremely...       5
13393  Byron lars knows how to make you look like a w...       5
13397                                                NaN       5
13398  My mom pointed out this dress in the store a w...       5
13399                                      Fits perfect!       5
...                                                  ...     ...
19304  I have been continually disappointed in retail...       1
19288  Didn't like the dress. look pregnant in it. th...       1
19283  This top is crazy in the front and just way-of...       1
19275  This looked like a simple, chic blouse, but th...       1
10147  I've been shopping at retailer since 2007, and...       1

[23486 rows x 2 columns]

In [9]:
def create_sentiment(int):
    if int == 4 or int == 5:
        return 2
    if int == 3:
        return 1
    if int == 2 or int == 1:
        return 0

In [10]:
ranked_reviews['Sentiment'] = ranked_reviews['Rating'].apply(create_sentiment)

In [11]:
ranked_reviews.sample(40)

                                             Review Text  Rating  Sentiment
19303  I like this dress because it's the perfect sha...       4          2
4628   I purchased the orange version (definitely ora...       5          2
20011  I loved the lines in this jacket, but ended up...       3          1
10627  I wear a 32 and sometimes a 31 but i could bar...       3          1
7099   I've been searching for a pretty & soft faux f...       5          2
11205  Love, love, love! wish i had gotten this in ev...       5          2
724    I love this dress. i'm 5'8" and it fits me exa...       5          2
14194  Love love this sweater/shirt. i have worn it o...       5          2
20221  The shirt is great, aside from the fact that i...       4          2
705    This sweater has the perfect slouchy shape for...       5          2
13060  Soft, very thin material. perfect for summer b...       4          2
10284  I have a love affair with pilcro and these jea...       5          2
10676  I bought this dress for the kentucky derby. i ...       5          2
8108   Love this pullover for its versatile style (ca...       5          2
3703   I love this top soooooo much! i love straps an...       5          2
87     I debated n that as i think it looks loose on ...       4          2
674    These fit me really well. i tend to have a pro...       5          2
1163   I really wanted this. they had two size small ...       4          2
14603  So, ordered online. tried this on, boyfriend a...       2          0
6321   I ordered this shirt and was happy to see that...       5          2
15257  This top also caught my eye in my local store,...       5          2
19230  In the photo, this looks like a heavy knit top...       5          2
8403   I think this is the perfect fall dress.  i did...       4          2
14310  This is one of those dresses that might be bet...       3          1
862    The fabric is beautiful, even the lining is lo...       3          1
3031   I purchased this shirt in a medium, in the win...       3          1
623    Love love love these leggings and what an amaz...       5          2
18193  I ordered this tee despite the price. the fabr...       1          0
1516   Girls, this dress is gorgeous.  but if you are...       5          2
17833  This sweater is so unique. not for the faint o...       5          2
12838  I was so excited to receive this shirt. it is ...       3          1
22333  For reference i am 5'7", 145lbs, 34b normally ...       4          2
7613   I personally didn't like it enough to purchase...       3          1
17055  What a classy special top. really dresses up a...       5          2
5838   I bought this dress for my wedding rehearsal d...       5          2
13037  Love these pants. it's hard to get really dark...       5          2
14298  This dress is lovely. i tried it in the red an...       5          2
18640  I thought this was love at first sight. the co...       4          2
5187   I immediately loved the rich royal blue color ...       4          2
10831  This dress looks so plain on this model you'd ...       5          2

In [12]:
ranked_reviews.columns = ['Review Text', 'Rating', 'Sentiment']
review_training = ranked_reviews[['Rating', 'Review Text']].dropna()
review_training.sample(10)

       Rating                                        Review Text
721         5  This is a perfect saturday t shirt for the col...
20819       1  I was disappointed with the style and quality ...
10605       3  For reference: 5'3, 130#, athletic/muscular bo...
4399        5  I watched this dress for quite awhile and when...
10840       5  I was doubtful when i first tried this on. the...
11863       5  I am a jumpsuit convert. i tried it on "just i...
13060       4  Soft, very thin material. perfect for summer b...
20393       2  I ordered an xxs and it is extremely short in ...
8145        4  This is an extraordinary blouse and it is the ...
18207       5  I would buy these pajamas in every color if of...

In [13]:
review_y = review_training['Rating']
review_y

11743    5
13393    5
13398    5
13399    5
13405    5
        ..
19304    1
19288    1
19283    1
19275    1
10147    1
Name: Rating, Length: 22641, dtype: int64

In [14]:
review_x = review_training['Review Text']
review_x

11743    I absolutely love this vest. it fits extremely...
13393    Byron lars knows how to make you look like a w...
13398    My mom pointed out this dress in the store a w...
13399                                        Fits perfect!
13405    I ordered the navy/green combo in xl and it's ...
                               ...
19304    I have been continually disappointed in retail...
19288    Didn't like the dress. look pregnant in it. th...
19283    This top is crazy in the front and just way-of...
19275    This looked like a simple, chic blouse, but th...
10147    I've been shopping at retailer since 2007, and...
Name: Review Text, Length: 22641, dtype: object

In [15]:
review_training.describe()

             Rating
count  22641.000000
mean       4.183561
std        1.115762
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000

In [16]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(review_x)

In [17]:
review_x = tokenizer.texts_to_sequences(review_x)

In [18]:
review_x = tokenizer.sequences_to_matrix(review_x)
review_x

array([[0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       ...,
       [0., 1., 1., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 1.]])

In [33]:
model = Sequential()
model.add(Dense(100, activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(75, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(25, activation='sigmoid'))
model.add(Dropout(0.3))

NameError: name 'Dropout' is not defined

In [34]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [35]:
model.fit(review_x, review_y, epochs=7, batch_size=10)

ValueError: Please provide as model targets either a single array or a list of arrays. You passed: y=11743    5
13393    5
13398    5
13399    5
13405    5
        ..
19304    1
19288    1
19283    1
19275    1
10147    1
Name: Rating, Length: 22641, dtype: int64

In [ ]:
model.evaluate(review_x, review_y)

In [36]:
print('gpu available', len(tf.config.experimental.list_physical_devices('GPU')))

gpu available 0

In [37]:
review_y = keras.utils.to_categorical()

IndexError: index 5 is out of bounds for axis 1 with size 3